<a href="https://colab.research.google.com/gist/essam77ra/78529ac2843672f08c38ef51d424c58f/assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Task 1**

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns


# Load your dataset
df = pd.read_csv('/content/Salaries.csv')
df.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN

In [3]:
rows = df.shape[0]
cols = df.shape[1]

print("No. of rows: ", rows)
print("No. of columns: ", cols)

No. of rows:  148654
No. of columns:  13

In [4]:
df.dtypes

Id                    int64
EmployeeName         object
JobTitle             object
BasePay             float64
OvertimePay         float64
OtherPay            float64
Benefits            float64
TotalPay            float64
TotalPayBenefits    float64
Year                  int64
Notes               float64
Agency               object
Status              float64
dtype: object

In [5]:
print(df.isnull())

           Id  EmployeeName  JobTitle  BasePay  OvertimePay  OtherPay  \
0       False         False     False    False        False     False
1       False         False     False    False        False     False
2       False         False     False    False        False     False
3       False         False     False    False        False     False
4       False         False     False    False        False     False
...       ...           ...       ...      ...          ...       ...
148649  False         False     False    False        False     False
148650  False         False     False     True         True      True
148651  False         False     False     True         True      True
148652  False         False     False     True         True      True
148653  False         False     False    False        False     False

        Benefits  TotalPay  TotalPayBenefits   Year  Notes  Agency  Status
0           True     False             False  False   True   False    True
1           True     False             False  False   True   False    True
2           True     False             False  False   True   False    True
3           True     False             False  False   True   False    True
4           True     False             False  False   True   False    True
...          ...       ...               ...    ...    ...     ...     ...
148649     False     False             False  False   True   False    True
148650      True     False             False  False   True   False    True
148651      True     False             False  False   True   False    True
148652      True     False             False  False   True   False    True
148653     False     False             False  False   True   False    True

[148654 rows x 13 columns]

In [6]:
df.isnull().sum()

Id                       0
EmployeeName             0
JobTitle                 0
BasePay                609
OvertimePay              4
OtherPay                 4
Benefits             36163
TotalPay                 0
TotalPayBenefits         0
Year                     0
Notes               148654
Agency                   0
Status              148654
dtype: int64

**Task 2**

In [7]:
df["TotalPayBenefits"].mean()

93692.55481056681

In [8]:
df["TotalPayBenefits"].median()

92404.09

In [9]:
df["TotalPayBenefits"].mode()

0    7959.18
Name: TotalPayBenefits, dtype: float64

In [10]:
df["TotalPayBenefits"].min()

-618.13

In [11]:
df["TotalPayBenefits"].max()

567595.43

In [12]:
df["TotalPayBenefits"].std()

62793.533483237705

**Task 3**

In [13]:
df = df.drop(['Status'],axis=1)
df.isnull().sum()

Id                       0
EmployeeName             0
JobTitle                 0
BasePay                609
OvertimePay              4
OtherPay                 4
Benefits             36163
TotalPay                 0
TotalPayBenefits         0
Year                     0
Notes               148654
Agency                   0
dtype: int64

In [14]:
df = df.drop(['Notes'],axis=1)
df.isnull().sum()

Id                      0
EmployeeName            0
JobTitle                0
BasePay               609
OvertimePay             4
OtherPay                4
Benefits            36163
TotalPay                0
TotalPayBenefits        0
Year                    0
Agency                  0
dtype: int64

Handling with 'Notes' and 'Status' --> with deleting them
Because the entire coulumn is empty

In [15]:
df['BasePay'] = df['BasePay'].fillna(df['BasePay'].mean())
df['Benefits'] = df['Benefits'].fillna(df['Benefits'].mean())
df['OvertimePay'] = df['OvertimePay'].fillna(df['OvertimePay'].mean())
df['OtherPay'] = df['OtherPay'].fillna(df['OtherPay'].mean())
df.isnull().sum()

Id                  0
EmployeeName        0
JobTitle            0
BasePay             0
OvertimePay         0
OtherPay            0
Benefits            0
TotalPay            0
TotalPayBenefits    0
Year                0
Agency              0
dtype: int64

Handling with 'BasePay', 'OtherPay', 'OvertimePay' and 'Benefits' --> with replacing them with mean value of the entire column to make dataset more accurate

**Task 4**

In [ ]:
sns.histplot(df['TotalPayBenefits'], bins=30)
plt.title('Seaborn Histogram of Data')
plt.xlabel('TotalPayBenefits')
plt.ylabel('No. of Employees')
plt.show()

In [ ]:
plt.pie(abs(df['TotalPayBenefits']), labels=df['JobTitle'])
plt.title('Matplotlib Proportional Data')
plt.show()

**Task 5**

In [ ]:
groupedby1 = df.groupby('TotalPayBenefits')
groupedby1.describe()

In [ ]:
groupedby2 = df.groupby(['TotalPayBenefits', 'Year'])
groupedby2.describe()

**Task 6**

In [ ]:
plt.scatter(df['TotalPayBenefits'], df['BasePay'])
plt.show()